@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&family=Source+Sans+Pro&display=swap"); */

/* body {
  @apply font-body12;
} */

/* price range input */
.range-input {
  position: relative;
}

.range-input input {
  background: none;
  -webkit-appearance: none;
  pointer-events: none;
  @apply absolute -top-2 h-2 w-full cursor-pointer;
}

input[type="range"]::-webkit-slider-thumb {
  width: 17px;
  height: 17px;
  pointer-events: auto;
  -webkit-appearance: none;
  @apply rounded-full bg-primary;
}

input[type="range"]::-moz-range-thumb {
  width: 17px;
  height: 17px;
  border: none;
  pointer-events: auto;
  -moz-appearance: none;
  @apply rounded-full bg-primary;
}

/* search */
.search:focus ~ .search_result {
  display: block;
}

.n_scroll::-webkit-scrollbar {
  display: none;
}

.cart-h:hover .d-block {
  display: block;
}

.sub_categories {
  position: relative;
  width: 320px;
  margin: 0;
  margin-top: 0px;
  height: 100%;
  overflow-y: auto;
  background: #fff;
  padding: 0;
  opacity: 1;
  visibility: visible;
  left: -320px;
  top: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

@media (min-width: 960px) and (max-width: 1200px) {
  .lg-cart {
    @apply right-10;
  }
}

@media (max-width: 1023.98px) {
  .filter_box {
    position: absolute;
    top: 5px;
    width: 270px;
    z-index: 9;
    @apply shadow-2xl bg-gray-100;
  }
}

/* order */
.progressbar:before {
  content: "";
  display: block;
  height: 0.125rem;
  background-color: black;
  position: relative;
  top: 0.6875rem;
  margin: 0 3.125rem -0.125rem 2.125rem;
  z-index: -1;
}

@media (min-width: 640px) {
  .progressbar:before {
    top: 1.375rem;
  }
}

/* checkout cart */
.cartitem_product_info {
  width: calc(100% - 6.25rem);
  margin: 0 0 1.25rem 0;
}

@media (min-width: 640px) {
  .cartitem_product_info {
    width: calc(100% - 20.125rem);
  }
}

@media (min-width: 1024px) {
  .cartitem_product_info {
    width: calc(100% - 31.325rem);
  }
}

/* btn */
.base_btn_form {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  border-radius: 0.125rem;
  border: 0.0625rem solid;
  border-color: #0050aa;
  display: inline-flex;
  padding: 0.875rem 1rem 0.8125rem;
  background: none;
  color: #0050aa;
  cursor: pointer;
}

.base_btn_form:hover,
.base_btn_form_primary:hover {
  background: #0050aa;
  color: #fff;
  transition: 200ms;
  border-color: transparent;
  background-clip: padding-box;
  box-shadow: inset 3000px 0 rgb(0 0 0 / 32%);
}

.base_btn_form_primary {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  border-radius: 0.125rem;
  border: none;
  display: inline-flex;
  padding: 0.875rem 1rem 0.8125rem;
  background: #0050aa;
  background-color: #0050aa !important;
  color: #fff;
  cursor: pointer;
}

/* check input */
#deli_address:checked ~ .check-1 {
  @apply text-opacity-100;
}

/* radio input */
.radio {
  width: 100%;
  font-size: 16px;
  /* display: inline-block; */
  vertical-align: middle;
  position: relative;
  @apply text-gray-600;
}

.radio input[type="radio"] {
  display: none;
}

.radio span {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 3px solid #0050aa;
  display: block;
  position: absolute;
  left: 7px;
  top: 11px;
}

.radio span:after {
  content: "";
  height: 12px;
  width: 12px;
  background: #0050aa;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  transition: 300ms ease-in-out 0s;
}

.radio input[type="radio"]:checked ~ span:after {
  transform: translate(-50%, -50%) scale(1);
}

@media (min-width: 640px) {
  .radio {
    width: 49%;
  }
}

/* form input */
.form_input {
  width: 100%;
  margin-bottom: 16px;
}

@media (min-width: 960px) {
  .form_input_49 {
    width: 49%;
  }
}

/* input form */
.base_input_form {
  width: 100%;
  border-radius: 0.125rem;
  border: 0.0625rem solid;
  text-overflow: ellipsis;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: #0050aa;
  background: #fff;
  border-color: #4e5761;
  outline-color: #0050aa;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* notification */
.notification-wrapper {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
  background: transparent;
}

.notification-item {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  animation: SlideLeft 0.4s;
  animation-fill-mode: forwards;
  width: 300px;
}

@keyframes SlideLeft {
  0% {
    margin-left: 120%;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes SlideRight {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 120%;
  }
}

.notification-item.exit {
  animation: SlideRight 0.4s;
  animation-fill-mode: forwards;
}

.notification-item p {
  margin: 0;
  padding: 10px;
}

.notification-item .bar {
  height: 10px;
}

.notification-item.success .bar {
  background-color: #65d266;
}

.notification-item.error .bar {
  background-color: red;
}

/* slider */
.container-slider {
  max-width: 1500px;
  width: 100%;
  height: 400px;
  margin: 0 auto 0;
  position: relative;
  overflow: hidden;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
}
@media screen and (max-width: 700px) {
  .container-slider {
    height: 330px;
  }
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide svg {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}
.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
  cursor: pointer;
}
.dot.active {
  background: rgb(32, 32, 32);
}
